<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.imx.app" >

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <application>
        <service android:name="com.imx.app.AllocBufferService" >
            <intent-filter>
                <action android:name="com.imx.app.allocbuffer" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
    </application>
</manifest>


