<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.imx.cts">

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <application>
        <uses-library android:name="android.test.runner" />
        <activity android:name="com.imx.AssetsActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.imx.AllocBufTestActivity"></activity>
        <activity android:name="com.imx.AllocBufTestLaunchActivity"></activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.imx.cts.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
    <!--  self-instrumenting test package. -->
    <instrumentation
        android:name="android.support.test.runner.AndroidJUnitRunner"
        android:label="IMx Cts tests"
        android:targetPackage="com.imx.cts" >
        <meta-data
            android:name="listener"
            android:value="com.android.cts.runner.CtsTestRunListener" />
    </instrumentation>
</manifest>
