<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.freescale.cactusplayer"
    android:versionCode="1"
    android:versionName="1.0"
    coreApp="true"
    >

    <uses-sdk android:minSdkVersion="11" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:icon="@drawable/cactus2"
        android:label="@string/app_name" >

        <activity
            android:name=".VideoMenu"
			android:configChanges="orientation|mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode"
			android:theme="@android:style/Theme"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".VideoPlayer"
			android:configChanges="orientation|mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode"
			android:theme="@android:style/Theme.Holo"
            android:label="@string/app_name" >
			<intent-filter>
               <action android:name="android.intent.action.VIEW" />
               <category android:name="android.intent.category.DEFAULT" />
               <category android:name="android.intent.category.BROWSABLE" />
               <data android:scheme="http" />
               <data android:host="*"/>
               <data android:pathPattern=".*\\.avi" />
               <data android:pathPattern=".*\\.AVI" />
               <data android:pathPattern=".*\\.mkv" />
               <data android:pathPattern=".*\\.MKV" />
               <data android:pathPattern=".*\\.flv" />
               <data android:pathPattern=".*\\.FLV" />
               <data android:pathPattern=".*\\.mp4" />
               <data android:pathPattern=".*\\.MP4" />
               <data android:pathPattern=".*\\.mpg" />
               <data android:pathPattern=".*\\.MPG" />
               <data android:pathPattern=".*\\.mpeg" />
               <data android:pathPattern=".*\\.MPEG" />
               <data android:pathPattern=".*\\.ts" />
               <data android:pathPattern=".*\\.TS" />
               <data android:pathPattern=".*\\.asf" />
               <data android:pathPattern=".*\\.ASF" />
               <data android:pathPattern=".*\\.wmv" />
               <data android:pathPattern=".*\\.WMV" />
               <data android:pathPattern=".*\\.mov" />
               <data android:pathPattern=".*\\.MOV" />
               <data android:pathPattern=".*\\.3gp" />
               <data android:pathPattern=".*\\.3GP" />
            </intent-filter>
        </activity>
    </application>

</manifest>
